IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
PATH_SUPERBLOQUE=/home/utnso/Desktop/tp-2023-1c-aLaGrandeLePuseCuca/file_system/fs/superBloque.dat
PATH_BITMAP=/home/utnso/Desktop/tp-2023-1c-aLaGrandeLePuseCuca/file_system/fs/bitmap.dat
PATH_BLOQUES=/home/utnso/Desktop/tp-2023-1c-aLaGrandeLePuseCuca/file_system/fs/bloques.dat
PATH_FCB=/home/utnso/Desktop/tp-2023-1c-aLaGrandeLePuseCuca/file_system/fs/fcb
RETARDO_ACCESO_BLOQUE=15000